!!!
%html{data: { page: "home" } }
  <!-- $title The Court Jesters | Corporate & Event Entertainment -->
  <!-- $description Christchurch-based, The Court Jesters are a professional entertainment troupe specialising in corporate and event entertainment based in improvised comedy. -->
  <!-- $keywords Christchurch, entertainment, comedy, corporate entertainment, event entertainment, events, entertainers, Scared Scriptless, improv, improvisers, improvisors, event solutions -->

  <!-- @include _header -->

  .hero-image
    .container
      %img.splash{src: "<!-- @path splash -->"}/
      %img.logo{src: "<!-- @path jesters-logo.svg -->"}/
  %blockquote.full-width
    %p
      What an awesome job you guys did. I have no idea how you do it, but it is
      %em seriously brilliant!
    %cite PGG Wrightson
  %section.home-intro
    .container
      %p
        %b Based in Christchurch, New Zealand, masters of corporate and event entertainment The Court Jesters know funny.
      %p The team behind New Zealand’s longest-running comedy show, Scared Scriptless, The Court Jesters are also the people to turn to for outstanding professional entertainment at your next corporate event, work function, product launch, fundraiser, or even wedding.
  %section.home-sections
    .container
      %article.events
        %i.section-icon.icon-events
        .bullet-content
          %h3
            %a{href: "<!-- @path /events/index.haml -->"} Your next event
          %p What do you have in mind for your upcoming event? If you’re thinking of words like funny, theatrical, unexpected or entertaining, then you need the Court Jesters. Check out our starter event ideas, then get in touch to talk about creating your own memorable and unique event.
          %a.button{href: "<!-- @path /events/index.haml -->"} Start planning…
      %article.shows
        %i.section-icon.icon-shows
        .bullet-content
          %h3
            %a{href: "<!-- @path /shows/index.haml -->"} Our shows
          %p The Court Jesters are practically synonymous with our improvised late-night comedy show Scared Scriptless. But we also devise and perform a wide variety of scripted and semi-improvised shows, as well as themed long format Scriptless shows on Saturday nights.
          %a.button{href: "<!-- @path /shows/index.haml -->"} Take a look…
      %article.training
        %i.section-icon.icon-training
        .bullet-content
          %h3
            %a{href: "<!-- @path /training/index.haml -->"} Training
          %p Improvisational skills can readily be applied to address specific needs in the workplace or improve team-building or upskilling at your next conference, training session or seminar. Talk to us to see how we can help with engaging training that offers a real point of difference.
          %a.button{href: "<!-- @path /training/index.haml -->"} Find out more…
  %section.home-about
    .container
      %article
        %h2
          %a{href: "<!-- @path /about/index.haml -->"} Who we are
        %p The Court Jesters are a professional entertainment troupe specialising in improvised comedy, and its variations: fast-paced, freewheeling entertainment made up on the spot based on suggestions from and interactions with our audience. We have a range of professional event solutions available to suit your requirements, whether those requirements are for a private birthday with a few close friends or a gala event with hundreds of guests in attendance. And if none of our existing packages exactly suits what you’re after, we’ll tailor a personalised one especially for you! (We’re good like that.)

        %p With the expertise, flexibility and professionalism to handle just about everything and anything, The Court Jesters are the only entertainers you’ll ever need! (You should probably just go ahead and put our number into your contacts now. Go on, we’ll wait.)
      %figure
        %img{src: "<!-- @path home-who-we-are.jpg -->"}

  <!-- @include _footer -->
