!!!
%html{data: { page: "home" } }
  <!-- @include _header -->

  .hero-image
    .container
      %img.splash{src: "<!-- @path splash -->"}/
      %img.logo{src: "<!-- @path jesters-logo.svg -->"}/
  %blockquote.full-width
    %p
      What an awesome job you guys did. I have no idea how you do it, but it is
      %em seriously brilliant!
    %cite PGG Wrightson
  %section.home-intro
    .container
      %p
        %b You might know the Court Jesters as the guys and girls behind Scared Scriptless, New Zealand’s longest-running comedy show. You might know us as the people who made Derek laugh so hard at the Christmas party that pinot noir came out his nose. You might not recognise us, but we were also the villains that hijacked last year’s product launch, before being foiled at the last minute by a British secret agent (also one of us).
      %p Whatever else you have in mind, if it’s funny, theatrical, or entertaining, we probably do that, too. Check out our shows, training programmes, and event ideas, then get in touch to talk about how we can help.
  %section.home-sections
    .container
      %article.events
        %i.section-icon.icon-events
        .bullet-content
          %h3
            %a{href: "/events/"} Your next event
          %p The Court Jesters provide professional event solutions for your unique requirements. From corporate functions and  fundraisers to birthday parties and hens’ nights, the Court Jesters are the only entertainers you’ll ever need.
          %a.button{href: "/events/"} Start planning…
      %article.shows
        %i.section-icon.icon-shows
        .bullet-content
          %h3
            %a{href: "/shows/"} Our shows
          %p The Court Jesters are practically synonymous with our late-night comedy show Scared Scriptless. But we also  perform Shakespeare, children’s theatre, celebrity chat shows, radio plays, and much more!
          %a.button{href: "/shows/"} Take a seat!
      %article.training
        %i.section-icon.icon-training
        .bullet-content
          %h3
            %a{href: "/training/"} Training
          %p We provide top-notch training for presentation skills, as well as workshops, role-plays and interviews. We also support improvisation at the grass roots with our Theatre Sports™ in Schools programme.
          %a.button{href: "/training/"} Find out more…
  %section.home-about
    .container
      %article
        %h2
          %a{href: "/about/"} Who we are
        %p Single-origin coffee bitters PBR&B chillwave master cleanse shabby chic, letterpress chia Pitchfork bespoke keytar four loko plaid mixtape put a bird on it. Keytar DIY gluten-free wayfarers Thundercats. Art party Godard photo booth, normcore you probably haven't heard of them meggings try-hard sriracha. Mustache jean shorts gentrify Neutra yr +1 drinking vinegar vinyl. Pop-up occupy ethnic swag sriracha, Echo Park pour-over biodiesel fanny pack. Scenester distillery cray beard Helvetica. Yr single-origin coffee artisan, next level pop-up direct trade umami selfies art party synth keytar organic dreamcatcher Thundercats tofu.
      %figure
        %img{src: "http://placehold.it/400x300"}

  <!-- @include _footer -->
