!!!
%html{data: { page: "about" } }
  <!-- @include _header -->

  .page-title
    .container
      %h1 Who we are

  %blockquote.full-width
    %p
      Thank you for your outstanding performances.
      %em It is always great to deal with professionals.
    %cite Christchurch City Council

  %section.about-history
    .container
      %h2 A little bit of history…
      %article
        %p Picture the distant year 1987, now all but lost to the mists of time: future national treasure Hayley Westenra was born, Bon Jovi was tearing up the charts, and the new comedy/theatre mash-up concept of TheatreSports™ was being introduced to Christchurch. After a couple of years for local enthusiasts to get to grips how the whole thing actually worked, Scared Scriptless was disgorged onto the Court Theatre stage in December of 1990 in a late night Friday timeslot and with a “why not?” attitude. Making itself up as it went along (appropriately enough), the show found a niche among a comedy-starved Christchurch audience and lovers of staged weirdness, becoming a regular big-night-out-starter for many.
        %p Well-known Kiwi entertainers including Greg Cooper, Cal Wilson, Ross Gumbley (he's our boss now, so we have to label him “well-known”), KC Kelly, and the late Kevin Smith all trod the boards in the show's early days, and the company honed its comedic skills to the point that with 4 years of these shenanigans behind them, the Court Jesters were crowned World Champions of TheatreSports at an international tournament in 1994.
        %p Scared Scriptless marched on, branching out from its TheatreSports roots and steadily becoming as much a Christchurch institution as asking people what school they went to. In 2006, a larger, slightly less, er, “nocturnal” audience was introduced to Scared Scriptless at the earlier show time of 10pm, and in 2010 a second weekly show was added to Saturdays (because give the people what they want, right?).
        %p Today, the Court Jesters company is a diverse bunch of multi-talented and award-festooned people that includes actors, theatre makers, writers, comedians, educators, and radiologists who happen to be freakishly good at being funny (no, really). We’re still loving what we do, we're still damned good at it, and we're proud to claim Scared Scriptless as Australasia’s longest-running comedy show.
        %p The Court Jesters also perform over 100 shows a year off-site, deploying their unique brand of quick-thinking comedy and professionalism to entertain at corporate events, parties and conferences.
        
      %figure
        %img{src: "<!-- @path about-history.jpg -->"}

  %section.about-jesters#us
    .container
      .portraits

  %section.about-casting#casting
    .container
      %h2 Casting information
      %p
        Many product launches, television commercials and advertising roles want more than just a pretty face. We are happy to put forward talented actors and improvisors for your casting requirements. Please contact Kirsty at
        %a{href:"mailto:jesters@courttheatre.org.nz"} jesters@courttheatre.org.nz
        with the brief for your next film, photoshoot, TVC, product launch, or voiceover, and she will be happy to submit people with the right look and the right skills.

  %section.about-theatre#theatre
    .container
      %h2 The Court Theatre: Entertaining Christchurch since 1971
      %p
        The Court Theatre is Christchurch’s only, and New Zealand’s foremost, professional theatre company, offering entertainment of the highest quality throughout the year.
      %p
        Founded by Yvette Bromley QSM and Mervyn Thompson in 1971, The Court fast became a central part of the cultural life of Christchurch, the Canterbury region, and New Zealand as a whole, and has gone on to become the most successful arts organisation in New Zealand.
      %p
        For more information, please visit
        =succeed "." do
          %a{href: "http://www.courttheatre.org.nz", target: "_blank"}
            the Court Theatre’s own website

  <!-- @javascript about -->

  <!-- @include _footer -->
