!!!
%html{data: { page: "training" } }
  <!-- @include _header -->

  .page-title
    .container
      %h1 Training

  %blockquote.full-width
    %p
      Terrific, inspiring, amusing, perceptive and
      %em jolly good fun!
    %cite Residential Care Conference Dinner

  %section.training-corporate#corporate-training
    .container
      %article
        %h2 Corporate Training
        %p Our interactive training techniques put words into action! Improving spontaneity has many benefits for any business that values fresh ideas and a customer service focus. The Court Jesters have worked with franchisees, corporates, and MBA students to allow individuals to be more confident when outside their comfort zone. We also specifically offer:
        %ul
          %li Corporate training
          %li Team building
          %li Presentation skills
          %li Improvisation training
          %li Body language
          %li Public speaking
          %li Role play scenarios for employment interviews
        %p
          %a{href: "mailto:jesters@courttheatre.org.nz?subject=Corporate+training"} Get in touch today
          to find out how we can help you.
      %figure.missing-image
        %img{src: "http://placehold.it/400x300"}

  %section.training-workshops#workshops
    .container
      %article
        %h2 Learn to improvise
        %p The Court Theatre runs Improv Classes for participants aged 18 years and older.
        %h3 Intro to Improv
        %p
          %strong Intro to Improv Parts 1 and 2
          introduce fundamental improvisation techniques in an environment in which all participants can discover the charismatic performers inside themselves. Intro to Improv courses require no previous experience.
        %h3 Performance
        %p
          Our
          %strong Performance Improv
          class is open to all students who have prior improv training, or who have completed Intro to Improv Parts 1 and 2. Each term students team up with a Court Jester to create an improvised show, honing their improv skills along the way. In 2013 PERFORMANCE classes will present four formats: Director’s Cut; Fairy Tale; Film Noir; and Musical.
        %p
          For further information, check out
          = succeed "." do
            %a{href: "http://www.courttheatre.org.nz/education/training"} The Court Theatre’s Education page
        %p
          If you’d like to enrol, please email Alice at
          = succeed "." do
            %a{href: "mailto:alicecanton@courttheatre.org.nz"} alicecanton@courttheatre.org.nz
      %figure.missing-image
        %img{src: "http://placehold.it/400x500"}

  %section.training-schools#schools
    .container
      %article
        %h2 Theatre Sports™ in schools
        %p Theatre Sports™ in schools is an annual competition for improvised theatre held by The Court Theatre. School teams of up to six perform scenes and games based on audience suggestions, scored by a judging panel of The Court Jesters. Teams who progress through the heats are invited to participate in the grand final at The Court Theatre.
        %p Intermediate and secondary schools that register are assigned a coach who will provide ongoing improvisation training, as well as professional sessions with The Court Jesters.
        %p
          For more information, or to register your school, please see
          = succeed "." do
            %a{href: "http://www.courttheatre.org.nz/education/participate"} the Court Theatre’s website
      %figure
        %img{src: "<!-- @path cashmere.jpg -->"}

  <!-- @include _footer -->
