!!!
%html{data: { page: "shows" } }
  <!-- @include _header -->

  .page-title
    .container
      %h1 Our shows

  %blockquote.full-width
    %p
      One of the
      %em best
      improv troupes I’ve come across!
    %cite Nancy Cartwright (Bart Simpson)

  %section.shows-scriptless#scriptless
    .container
      %h2
        Scared Scriptless
        %small New Zealand’s longest-running comedy show

      %article
        %p A favourite of Christchurch audiences for almost twenty- five years, Scared Scriptless combines fast-paced, off-the-cuff theatre with just the right amount of audience interaction. Friday shows focus on the “classic” Scared Scriptless experience of rapid-fire improvised comedy scenes and games, while Saturdays see the company tackle a new theme each calendar month – anything from different improv formats to play-length themed shows, and all still created completely without a script and based around suggestions from the audience on the night.

        %p
          Scared Scriptless plays every Friday and Saturday night (except Good Friday, Show Weekend, and a short hiatus over the Christmas/New Year period). To book, call the Box Office on 963 0870, or
          = succeed "." do
            %a{href: "https://www.patronbase.com/_CourtTheatre/Productions/SS14/Performances", target: "_blank"} book online
          Tickets only $14/16.

        %p With 24 years under our belt as a company, we’ve still never played the same scene twice!

        %p
          %a.button{href: "https://www.patronbase.com/_CourtTheatre/Productions/SS14/Performances", target: "_blank"}
            %i.fa.fa-share-square-o
            Book Scared Scriptless tickets online

      %figure
        %img{src: "<!-- @path scriptless.jpg -->"}

  %section.shows-past#past
    .container
      %h2 Past shows

      .shows
        %article
          %img{src: "<!-- @path soapland.jpg -->"}
          %h3 Soapland Street
          %p Hospitals are positively filled with drama. And drama only leads to revelations, eyepatches, cliffhangers and more twists than a 6-foot licorice rope: stakes were high in our serialised comedic tribute to a certain much-loved New Zealand medical drama that shall remain anonymous. So gripping that one lady from Hamilton saw one episode while in town and then just HAD TO fly down especially to see the big finale!

        %article
          %img{src: "<!-- @path space.jpg -->"}
          %h3 Space Patrol 5
          %p In the far reaches of space, the brave crew of Space Patrol 5 continue their important mission of peaceful exploration, science, diplomacy, and straight-up fist-fighting any aliens that make the mistake of rubbing them up the wrong way. This homage to classic science fiction was so on point that you could practically smell the forehead prosthetic glue and polystyrene boulders, and proved a smash hit when performed at the New Zealand Improv Festival.
          %blockquote.full-width
            %p “Such care and love has been taken with this show, it is a delight to watch… the strongest genre piece of the festival.”
            %cite
              %a{href: "http://www.theatreview.org.nz/reviews/review.php?id=7590"} TheatreView

        %article
          %h3 Band of Rock
          %p An all-access backstage pass, Band of Rock pulled back the curtain on the rock n’ roll lifestyle of drugs, gigs, personality clashes, the road, hotel-room-trashing, drugs, glamour, celebrity causes, Satan worship, groupies, the creative process, inspiration, drugs, songwriting and drugs as The Biggest Band in the World hit the stage to bust out some of their chart-topping (improvised) hits, even going so far as to play their own instruments. Rock n’ roll, man.

        %article
          %img{src: "<!-- @path djesters.jpg -->"}
          %h3 Djesters Unchained
          %p A lawless frontier town is in need of a hero. But there’s hope –  the Jesters have signed up some random audience member as the new sheriff! He / she and his / her upbeat /surly / bemused attitude turned out to be just what Dry Gulch needed (convenient!). Dukes were put up and skies were reached for in this Western epic that took our love of audience participation to a new level.

        %article
          %h3 Scriptless: The Musical
          %p All singing, all dancing (well, lots of singing, some dancing) – Scriptless: The Musical was our own unique take on that classic musical story of boy meets girl, boy is a zoo architect, they fall in love, but girl is also concerned about the Queen’s upcoming visit, and the African jaguars are out of control… A love-letter to Broadway that featured an all new story and songs every night (beat that, Broadway).

        %article
          %h3 A Painful Election
          %p Scared Scriptless saw a sudden upsurge in baby-kissing as four candidates from across the spectrum made their bid to become our great nation’s next leader. But what skeletons (and little-used exercise equipment) were they hiding in their closets? It was up to the audience to choose carefully from amongst them, assisted by our in-house smartphone polling and live feedback graphics in the theatre. Ooo, fancy.

        %article
          %img{src: "<!-- @path horror.jpg -->"}
          %h3 Tales From Camp Horror
          %p Welcome to Camp Horror, kids. Here, come close, and sit around the campfire with me. Don’t worry, I  won’t bite – as you can see, I’m missing all my teeth – but I will tell you a terrifying tale or three, each more filled with dread than the last. Perfect for the month of Halloween, our horror anthology kept audiences laughing, but also snuck up on them with some scares as well, and OH GOD IT’S BEHIND YOU RIGHT NOW

        %article
          %h3 The Hungry Games
          %p In the dystopian future, the oppressed people of the Districts must send their children to fight in The Hungry Games, a battle to the death where only the strongest (or most handy with an egg beater) might hope to survive… Meanwhile, in the dystopian present, the Court Jesters offer a Tribute of their own to a certain mega-popular book and film franchise that cannot be named for copyright reasons.

  <!-- @javascript images packery shows -->

  <!-- @include _footer -->
