%footer.footer
  %a.logo{href: "/"}
    %i.icon-crown
  .footer-links
    %ul
      %li
        %h3
          %a{href: "http://courtjesters.local/events/", title: "Your next event"} Your next event
      %li
        %a{href: "http://courtjesters.local/events/#packages", title: "Packages"} Packages
      %li
        %a{href: "http://courtjesters.local/events/#fundraisers", title: "Fundraisers"} Fundraisers
      -# %li
      -#   %a{href: "http://courtjesters.local/events/#photos", title: "Photo gallery"} Photo gallery
    %ul
      %li
        %h3
          %a{href: "http://courtjesters.local/shows/", title: "Our shows"} Our shows
      -# %li
      -#   %a{href: "http://courtjesters.local/shows/#upcoming", title: "Upcoming shows"} Upcoming shows
      %li
        %a{href: "http://courtjesters.local/shows/#scriptless", title: "Scared Scriptless"} Scared Scriptless
      %li
        %a{href: "http://courtjesters.local/shows/#past", title: "Past shows"} Past shows
    %ul
      %li
        %h3
          %a{href: "http://courtjesters.local/training/", title: "Training"} Training
      %li
        %a{href: "http://courtjesters.local/training/#corporate-training", title: "Corporate training"} Corporate training
      %li
        %a{href: "http://courtjesters.local/training/#workshops", title: "Learn to improvise"} Learn to improvise
      %li
        %a{href: "http://courtjesters.local/training/#schools", title: "Theatre Sports™ in schools"} Theatre Sports™ in schools
    %ul
      %li
        %h3
          %a{href: "http://courtjesters.local/about/", title: "Who we are"} Who we are
      %li
        %a{href: "http://courtjesters.local/about/#us", title: "Meet the Jesters"} Meet the Jesters
      %li
        %a{href: "http://courtjesters.local/about/#casting", title: "Casting information"} Casting information
      %li
        %a{href: "http://courtjesters.local/about/#theatre", title: "The Court Theatre"} The Court Theatre
  %hr/
  %p.social-media
    %a{href: "https://www.facebook.com/scaredscriptlessnz"}
      %i.fa.fa-facebook-square
    %a{href: "http://twitter.com/courtjesters"}
      %i.fa.fa-twitter
    %a{href: "mailto:jesters@courttheatre.org.nz"}
      %i.fa.fa-envelope
