%nav
  %ul
    %li
      %a{href: "/", rel: "home"}
        %i.icon-crown
    %li
      %a{href: "/events/",   rel: "events"} Your next event
    %li
      %a{href: "/shows/",    rel: "shows"} Our shows
    %li
      %a{href: "/training/", rel: "training"} Training
    %li
      %a{href: "/about/",    rel: "about"} Who we are
  %img.logo{src: "<!-- @path jesters-logo.svg -->"}/
