%nav
  %ul
    %li
      %a{href: "<!-- @path /index.haml -->", rel: "home"}
        %i.icon-hat
    %li
      %a{href: "<!-- @path /events/index.haml -->",   rel: "events"} Your next event
    %li
      %a{href: "<!-- @path /shows/index.haml -->",    rel: "shows"} Our shows
    %li
      %a{href: "<!-- @path /training/index.haml -->", rel: "training"} Training
    %li
      %a{href: "<!-- @path /about/index.haml -->",    rel: "about"} Who we are
  %img.logo{src: "<!-- @path jesters-logo.svg -->"}/
