!!!
%html{data: { page: "events" } }
  <!-- $title The Court Jesters | Pick The Perfect Entertainment Package -->
  <!-- $description Looking for great entertainment at your next event? Tell us a little bit about your plans and and we can recommend the perfect Court Jesters product. -->
  <!-- $keywords Christchurch, entertainment, comedy, corporate entertainment, event entertainment, events, entertainers, improv, improvisers, improvisors, fundraiser, function, work function, event solutions, weddings, wedding entertainment, dinner entertainment, office party, Christmas party, product launch, birthday entertainment, birthday, anniversary, custom entertainment packages -->

  <!-- @include _header -->

  .page-title
    .container
      %h1 Your next event

  %section.search-tools
    .container
      %p Tell us a bit about your event and we’ll show you the products we think are right for you.
      .filter{rel: "occasion"}
        %label What’s the occasion?
        .options
          %ol
      .filter{rel: "guests"}
        %label How many guests?
        .options
          %ol
      .filter{rel: "budget"}
        %label What’s your budget?
        .options
          %ol

  %section.events-products#packages
    .container
      .products

  %blockquote.full-width
    %p
      Very lively and entertaining. Really put the icing on what was a
      %em completely fun evening.
    %cite Catherine Petrie

  <!-- @javascript images packery spine events -->

  <!-- @include _footer -->
